.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#box{
    margin: 2vw;
    border-radius: 3vw;
    width: 25vw;
    height: 25vw;
    padding-top: 5vw;
   text-align: center;
   background: linear-gradient(to bottom, rgb(151, 29, 29), #130d0c);
}
.namebox{
    font-size: 4vw;
    border: none;
}
#fifth{
    text-align: center;
    align-items: center;
}
