#large{
    text-align: center;
    font-size: 3vw;
}
#quick-parent{
    display: flex;
}
.quick{
    display: flex;
    flex-direction: column;
    width: 40vw;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    height: 40vw;
}
.text{
    font-size: 4vw;
    position: relative;
    z-index: 10;
}
.laser-light {
    position: relative;
    width: 60%;
    height: 12vw;
    background: linear-gradient(to left, rgba(255, 0, 0, 0.3), transparent );
    
    position: relative;
    z-index: 2;
}
#para{
    width: 75%;
    margin: auto;
    height: auto;
    text-align: center;
    margin-top: 1vw;
    padding: 1vw;
    border: 1px solid white;
    border-radius: 3vw;
    box-shadow: 1vw black;
    font-size: 2vw;
    background-color: rgb(186, 190, 194,0.3);
}