#first{
    text-align: center;
    justify-content: center;
    align-items: center;
    place-items: center;
}
#navbar {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid red;
    width: 90%;
    height: fit-content;
    margin:0vw 2vw;
    border-radius: 2vw;
   align-items: center;
   box-sizing: border-box;
   box-shadow: 0.5vw 0.5vw 0.5vw 0.5vw  rgba(255, 0, 0, 0.5);
  }
  
  .tag {
    width: 15vw;
    height: 5vw;
    line-height: 5vw;
    text-align: center;
    font-size: 1.5vw;
    overflow-wrap: break-word;
  }
  .firstcontent1{
    font-size: 8vw; 
  font-weight: bold; 
  color: transparent; 
  background-clip: text; 
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: none;
  margin-top: 2vw;
  }
  .secondcontent1{
    font-size: 5vw;
  }
  .thirdcontent1{
    font-size: 3vw;
  }
  .content1{
   margin: 5vw 10vw;
   text-align: left;
  }
  .content2{
    display: flex;
    width: 60vw;
    height: 20vw;
    border: 1px solid white;
    align-items: center;
   background-color: rgba(255, 255, 255, 0.3);
   border-radius: 4vw; 
   margin: auto;
/*transform: translateY(-20vw);*/

}
/* this is grand parent of icon and  text*/
 .sameline{
    margin: auto;
    width: 15vw;
    height: 10vw;
    text-align: center;
    color: aliceblue;
    display: inline-grid;
 }
 .firstchild{
  font-size: 2vw;
 }

 .secondchild{
  font-size: 1vw;
 }

  .image{
    display: inline-block;
    width: max-content;
    margin: auto;
  }
  .image img{
    width: 25vw;
    height: auto;
  }
  /* First block content*/
  .inlinecontent{
    display:flex;
     text-align: center;
     height: max-content;
     width: 100%;
  }
  /* Bottom Name */
  .name{
    width: fit-content;
    padding: 2vw;
    border: 1px solid whitesmoke;
    text-align: center;
    border-radius: 3vw;
    font-size: 4vw;
    margin: 3vw;
    transform: scaleX(1.5);
    transform: translateX(30vw);
  }
  .trail{
    margin: auto;
    width: 70vw;
    border: 1px solid red;
    border-radius: 1vw;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    background-color: rgb(212, 21, 21);
    box-shadow: 0.3vw 0.3vw 1vw red;
    font-size: 6vw;
    height: 8vw;
    place-items: baseline;
  }
  .trail button{
    margin-left: 3vw;
    width: 20vw;
    height: 4vw;
    background-color: red;
    font-size: 3vw;
    color: white;
    border-radius: 2vw;
    border: solid red;
    box-shadow: 1vw 1vw 1vw black;
  }
  /* align icon center*/
  .parenticon{
    text-align: -webkit-center;
    margin: 1vw;
  }