#tenthh1{
    text-align: center;
    font-size: 3vw;
}
.blocks{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 25vw;
    margin: auto;
}
.firstblock{
    width: 20vw;
    height: 20vw;
    border-radius: 3vw;
    border: none;
    text-align: center;
    font-size: 6vw;
    margin: auto;
    padding: auto;
    background: linear-gradient(30deg, #141214, #300d14);
}
.secondblock{
    margin: auto;
    width: 20vw;
    height: 20vw;
    border-radius: 3vw;
    border: none;
    text-align: center;
    font-size: 6vw;
    background: linear-gradient(30deg, #141214, #300d14);
}
.thirdblock{
    height: 20vw;
    width: 30vw;
    margin: auto;
    
}
.icon{
    font-size: 6vw;
    text-align: center;
}